<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Hỏi Dân IT - Dự án laptopshop" />
    <meta name="author" content="Hỏi Dân IT" />
    <title>Manage Product - Hỏi Dân IT</title>

    <link href="/admin/css/style.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <%- include('../layout/header'); -%>
        <div id="layoutSidenav">
            <%- include('../layout/sidenav'); -%>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Manage Products</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                                <li class="breadcrumb-item active">Products</li>
                            </ol>
                            <div>
                                <div style="display: flex; align-items: center; justify-content: space-between">
                                    <h1></h1>
                                    <a href="/admin/product/create.ejs" class="btn btn-warning ">Create a product</a>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Factory</th>
                                            <th scope="col">Action</th>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i < products.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <%= products[i].id %>
                                                </td>
                                                <td>
                                                    <%= products[i].name %>
                                                </td>
                                                <td>
                                                    <%= products[i].price %>
                                                </td>
                                                <td>
                                                    <%= products[i].factory %>
                                                </td>
                                                <td>
                                                    <div style="display: flex; gap: 10px;">
                                                        <form action="/admin/product/view/<%= products[i].id %>"
                                                            method="get">
                                                            <button class="btn btn-warning">View</button>
                                                        </form>
                                                        <form action="/admin/product/delete/<%= products[i].id %>"
                                                            method="post">
                                                            <button class="btn btn-danger">Delete</button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <!-- <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><button class="btn btn-danger">Delete</button></td>
    </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </main>
                    <%- include('../layout/footer'); -%>
                </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="/admin/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
            crossorigin="anonymous"></script>
        <script src="/admin/js/datatables-simple-demo.js"></script>
</body>

</html>